asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
cliapp==1.20170827
cmdtest==0.32
cryptography==2.1.4
cssselect==1.1.0
DITrack==0.8
Django==1.11.26
enum34==1.1.6
fake-useragent==0.1.11
html5lib==1.1
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
lxml==4.5.2
Markdown==2.6.9
mercurial==4.5.3
parse==1.16.0
psycopg2==2.7.4
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pyquery==1.4.1
pytz==2019.3
pyxdg==0.25
PyYAML==3.12
requests==2.24.0
requests-html==0.2.2
SecretStorage==2.3.1
selenium==3.141.0
six==1.11.0
soupsieve==1.9.6
ttystatus==0.38
urllib3==1.25.10
webencodings==0.5.1
