{% extends "amazon/base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <h4>Welcome to Amazon Comment Amalyser</h4>
    </div>
    <div class="row">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, repellendus sapiente voluptatum exercitationem
            laborum debitis tempora quod, sed asperiores tempore iure error veritatis vel. Distinctio nesciunt repellat
            repellendus provident necessitatibus?</p>
    </div>
    <div>
        <a href="/amazon_analyser/number"><button type="submit" class="btn btn-outline-primary">Want to analyse</button></a>
    </div>
    

</div>

{% endblock content %}